zwg-china.client.framework/Service References/LotteryService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LotteryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILotteryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.client" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILotteryService_GetTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTickets" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_GetTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_GetLotteries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteries" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_GetLotteries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteriesResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_GetTopBonus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTopBonus" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_GetTopBonus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTopBonusResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_GetBettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBettings" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_GetBettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBettingsResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_GetChasings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChasings" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_GetChasings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChasingsResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_Bet_InputMessage">
    <wsdl:part name="parameters" element="tns:Bet" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_Bet_OutputMessage">
    <wsdl:part name="parameters" element="tns:BetResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_RecallBetting_InputMessage">
    <wsdl:part name="parameters" element="tns:RecallBetting" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_RecallBetting_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecallBettingResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_RecallChasing_InputMessage">
    <wsdl:part name="parameters" element="tns:RecallChasing" />
  </wsdl:message>
  <wsdl:message name="ILotteryService_RecallChasing_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecallChasingResponse" />
  </wsdl:message>
  <wsdl:portType name="ILotteryService">
    <wsdl:operation name="GetTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryService/GetTickets" message="tns:ILotteryService_GetTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryService/GetTicketsResponse" message="tns:ILotteryService_GetTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLotteries">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryService/GetLotteries" message="tns:ILotteryService_GetLotteries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryService/GetLotteriesResponse" message="tns:ILotteryService_GetLotteries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTopBonus">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryService/GetTopBonus" message="tns:ILotteryService_GetTopBonus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryService/GetTopBonusResponse" message="tns:ILotteryService_GetTopBonus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBettings">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryService/GetBettings" message="tns:ILotteryService_GetBettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryService/GetBettingsResponse" message="tns:ILotteryService_GetBettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChasings">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryService/GetChasings" message="tns:ILotteryService_GetChasings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryService/GetChasingsResponse" message="tns:ILotteryService_GetChasings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Bet">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryService/Bet" message="tns:ILotteryService_Bet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryService/BetResponse" message="tns:ILotteryService_Bet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecallBetting">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryService/RecallBetting" message="tns:ILotteryService_RecallBetting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryService/RecallBettingResponse" message="tns:ILotteryService_RecallBetting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecallChasing">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryService/RecallChasing" message="tns:ILotteryService_RecallChasing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryService/RecallChasingResponse" message="tns:ILotteryService_RecallChasing_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILotteryService" type="tns:ILotteryService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILotteryService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetTickets">
      <soap12:operation soapAction="http://tempuri.org/ILotteryService/GetTickets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLotteries">
      <soap12:operation soapAction="http://tempuri.org/ILotteryService/GetLotteries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTopBonus">
      <soap12:operation soapAction="http://tempuri.org/ILotteryService/GetTopBonus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBettings">
      <soap12:operation soapAction="http://tempuri.org/ILotteryService/GetBettings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChasings">
      <soap12:operation soapAction="http://tempuri.org/ILotteryService/GetChasings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bet">
      <soap12:operation soapAction="http://tempuri.org/ILotteryService/Bet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecallBetting">
      <soap12:operation soapAction="http://tempuri.org/ILotteryService/RecallBetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecallChasing">
      <soap12:operation soapAction="http://tempuri.org/ILotteryService/RecallChasing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LotteryService">
    <wsdl:port name="NetTcpBinding_ILotteryService" binding="tns:NetTcpBinding_ILotteryService">
      <soap12:address location="net.tcp://192.168.1.130:4511/LotteryService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.130:4511/LotteryService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>