zwg-china.client.framework/Service References/MessageService/zwg_china.service.client.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/zwg_china.service.client" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/zwg_china.service.client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" />
  <xs:complexType name="GetBulletinsImport">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GetPageListImportBaseOfMessage">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetBulletinsImport" nillable="true" type="tns:GetBulletinsImport" />
  <xs:complexType name="GetPageListImportBaseOfMessage">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/zwg_china.service" base="q1:GetPageListImportBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPageListImportBaseOfMessage" nillable="true" type="tns:GetPageListImportBaseOfMessage" />
  <xs:complexType name="ArrayOfBulletinExport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BulletinExport" nillable="true" type="tns:BulletinExport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBulletinExport" nillable="true" type="tns:ArrayOfBulletinExport" />
  <xs:complexType name="BulletinExport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulletinExport" nillable="true" type="tns:BulletinExport" />
</xs:schema>