zwg-china.client.framework/Service References/ReportService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.client" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" />
  <xs:element name="GetRersonalAndTeamReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/zwg_china.service.client" minOccurs="0" name="import" nillable="true" type="q1:GetRersonalAndTeamReportsImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRersonalAndTeamReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetRersonalAndTeamReportsResult" nillable="true" type="q2:PageResultOfRersonalAndTeamReportExport1C_S7RQu4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>