zwg-china.backstage.framework/Service References/ReportService/zwg_china.service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/zwg_china.service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" />
  <xs:complexType name="GetPageListImportBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ImportBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPageListImportBase" nillable="true" type="tns:GetPageListImportBase" />
  <xs:complexType name="ImportBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportBase" nillable="true" type="tns:ImportBase" />
  <xs:complexType name="PageResultOfSiteReportExpotnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SiteReportExpot" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountOfAllMessage" type="xs:int" />
          <xs:element minOccurs="0" name="CountOfPage" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="List" nillable="true" type="q1:ArrayOfSiteReportExpot" />
          <xs:element minOccurs="0" name="PageInde" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageResultOfSiteReportExpotnxyTI_PDx" nillable="true" type="tns:PageResultOfSiteReportExpotnxyTI_PDx" />
  <xs:complexType name="NormalResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NormalResult" nillable="true" type="tns:NormalResult" />
  <xs:complexType name="PageResultOfRersonalAndTeamReportExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RersonalAndTeamReportExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountOfAllMessage" type="xs:int" />
          <xs:element minOccurs="0" name="CountOfPage" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="List" nillable="true" type="q2:ArrayOfRersonalAndTeamReportExport" />
          <xs:element minOccurs="0" name="PageInde" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageResultOfRersonalAndTeamReportExportnxyTI_PDx" nillable="true" type="tns:PageResultOfRersonalAndTeamReportExportnxyTI_PDx" />
</xs:schema>