zwg-china.backstage.framework/Service References/LotteryService/zwg_china.service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/zwg_china.service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" />
  <xs:complexType name="GetPageListImportBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ImportBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPageListImportBase" nillable="true" type="tns:GetPageListImportBase" />
  <xs:complexType name="ImportBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportBase" nillable="true" type="tns:ImportBase" />
  <xs:complexType name="PageResultOfLotteryTicketExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LotteryTicketExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountOfAllMessage" type="xs:int" />
          <xs:element minOccurs="0" name="CountOfPage" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="List" nillable="true" type="q1:ArrayOfLotteryTicketExport" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageResultOfLotteryTicketExportnxyTI_PDx" nillable="true" type="tns:PageResultOfLotteryTicketExportnxyTI_PDx" />
  <xs:complexType name="NormalResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NormalResult" nillable="true" type="tns:NormalResult" />
  <xs:complexType name="PageResultOfLotteryExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LotteryExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountOfAllMessage" type="xs:int" />
          <xs:element minOccurs="0" name="CountOfPage" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="List" nillable="true" type="q2:ArrayOfLotteryExport" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageResultOfLotteryExportnxyTI_PDx" nillable="true" type="tns:PageResultOfLotteryExportnxyTI_PDx" />
  <xs:complexType name="PageResultOfVirtualBonusExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="VirtualBonusExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountOfAllMessage" type="xs:int" />
          <xs:element minOccurs="0" name="CountOfPage" type="xs:int" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="List" nillable="true" type="q3:ArrayOfVirtualBonusExport" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageResultOfVirtualBonusExportnxyTI_PDx" nillable="true" type="tns:PageResultOfVirtualBonusExportnxyTI_PDx" />
  <xs:complexType name="PageResultOfBettingExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BettingExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountOfAllMessage" type="xs:int" />
          <xs:element minOccurs="0" name="CountOfPage" type="xs:int" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="List" nillable="true" type="q4:ArrayOfBettingExport" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageResultOfBettingExportnxyTI_PDx" nillable="true" type="tns:PageResultOfBettingExportnxyTI_PDx" />
  <xs:complexType name="PageResultOfChasingExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ChasingExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountOfAllMessage" type="xs:int" />
          <xs:element minOccurs="0" name="CountOfPage" type="xs:int" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="List" nillable="true" type="q5:ArrayOfChasingExport" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageResultOfChasingExportnxyTI_PDx" nillable="true" type="tns:PageResultOfChasingExportnxyTI_PDx" />
  <xs:complexType name="NormalResultOfArrayOfBasicLotteryTicketExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="NormalResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfBasicLotteryTicketExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="Info" nillable="true" type="q6:ArrayOfBasicLotteryTicketExport" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NormalResultOfArrayOfBasicLotteryTicketExportnxyTI_PDx" nillable="true" type="tns:NormalResultOfArrayOfBasicLotteryTicketExportnxyTI_PDx" />
  <xs:complexType name="GetSettingImport">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ImportBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSettingImport" nillable="true" type="tns:GetSettingImport" />
  <xs:complexType name="NormalResultOfSettingOfLotteryExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="NormalResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SettingOfLotteryExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="Info" nillable="true" type="q7:SettingOfLotteryExport" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NormalResultOfSettingOfLotteryExportnxyTI_PDx" nillable="true" type="tns:NormalResultOfSettingOfLotteryExportnxyTI_PDx" />
  <xs:complexType name="SetSettingImportBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ImportBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SetSettingImportBase" nillable="true" type="tns:SetSettingImportBase" />
</xs:schema>