zwg-china.client.framework/Service References/ActicityService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.client" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" />
  <xs:element name="GetRedeemPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/zwg_china.service.client" minOccurs="0" name="import" nillable="true" type="q1:GetRedeemPlansImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedeemPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetRedeemPlansResult" nillable="true" type="q2:PageResultOfRedeemPlanExport1C_S7RQu4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedeemRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/zwg_china.service.client" minOccurs="0" name="import" nillable="true" type="q3:GetRedeemRecordsImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedeemRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetRedeemRecordsResult" nillable="true" type="q4:PageResultOfRedeemRecordExport1C_S7RQu4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRedeemRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/zwg_china.service.client" minOccurs="0" name="import" nillable="true" type="q5:CreateRedeemRecordsImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRedeemRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="CreateRedeemRecordsResult" nillable="true" type="q6:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>