zwg-china.client.framework/Service References/ActicityService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActicityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IActicityService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.client" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActicityService_GetRedeemPlans_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRedeemPlans" />
  </wsdl:message>
  <wsdl:message name="IActicityService_GetRedeemPlans_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRedeemPlansResponse" />
  </wsdl:message>
  <wsdl:message name="IActicityService_GetRedeemRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRedeemRecords" />
  </wsdl:message>
  <wsdl:message name="IActicityService_GetRedeemRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRedeemRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IActicityService_CreateRedeemRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRedeemRecords" />
  </wsdl:message>
  <wsdl:message name="IActicityService_CreateRedeemRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRedeemRecordsResponse" />
  </wsdl:message>
  <wsdl:portType name="IActicityService">
    <wsdl:operation name="GetRedeemPlans">
      <wsdl:input wsaw:Action="http://tempuri.org/IActicityService/GetRedeemPlans" message="tns:IActicityService_GetRedeemPlans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActicityService/GetRedeemPlansResponse" message="tns:IActicityService_GetRedeemPlans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRedeemRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IActicityService/GetRedeemRecords" message="tns:IActicityService_GetRedeemRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActicityService/GetRedeemRecordsResponse" message="tns:IActicityService_GetRedeemRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRedeemRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IActicityService/CreateRedeemRecords" message="tns:IActicityService_CreateRedeemRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActicityService/CreateRedeemRecordsResponse" message="tns:IActicityService_CreateRedeemRecords_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IActicityService" type="tns:IActicityService">
    <wsp:PolicyReference URI="#NetTcpBinding_IActicityService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetRedeemPlans">
      <soap12:operation soapAction="http://tempuri.org/IActicityService/GetRedeemPlans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRedeemRecords">
      <soap12:operation soapAction="http://tempuri.org/IActicityService/GetRedeemRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRedeemRecords">
      <soap12:operation soapAction="http://tempuri.org/IActicityService/CreateRedeemRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActicityService">
    <wsdl:port name="NetTcpBinding_IActicityService" binding="tns:NetTcpBinding_IActicityService">
      <soap12:address location="net.tcp://192.168.1.102:4511/ActicityService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.102:4511/ActicityService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>