zwg-china.client.framework/Service References/AuthorPushService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthorPushService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAuthorPushService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.client" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthorPushService_SetIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SetIn" />
  </wsdl:message>
  <wsdl:message name="IAuthorPushService_SetIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetInResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorPushService_CallWhenHaveUnreadNotices_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallWhenHaveUnreadNotices" />
  </wsdl:message>
  <wsdl:message name="IAuthorPushService_CallWhenLottery_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallWhenLottery" />
  </wsdl:message>
  <wsdl:message name="IAuthorPushService_CallWhenLeave_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallWhenLeave" />
  </wsdl:message>
  <wsdl:portType name="IAuthorPushService">
    <wsdl:operation name="SetIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorPushService/SetIn" message="tns:IAuthorPushService_SetIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorPushService/SetInResponse" message="tns:IAuthorPushService_SetIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallWhenHaveUnreadNotices">
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorPushService/CallWhenHaveUnreadNotices" message="tns:IAuthorPushService_CallWhenHaveUnreadNotices_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallWhenLottery">
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorPushService/CallWhenLottery" message="tns:IAuthorPushService_CallWhenLottery_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallWhenLeave">
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorPushService/CallWhenLeave" message="tns:IAuthorPushService_CallWhenLeave_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAuthorPushService" type="tns:IAuthorPushService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAuthorPushService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SetIn">
      <soap12:operation soapAction="http://tempuri.org/IAuthorPushService/SetIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallWhenHaveUnreadNotices">
      <soap12:operation soapAction="http://tempuri.org/IAuthorPushService/CallWhenHaveUnreadNotices" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallWhenLottery">
      <soap12:operation soapAction="http://tempuri.org/IAuthorPushService/CallWhenLottery" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallWhenLeave">
      <soap12:operation soapAction="http://tempuri.org/IAuthorPushService/CallWhenLeave" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthorPushService">
    <wsdl:port name="NetTcpBinding_IAuthorPushService" binding="tns:NetTcpBinding_IAuthorPushService">
      <soap12:address location="net.tcp://192.168.1.102:4511/AuthorPushService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.102:4511/AuthorPushService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>