zwg-china.client.framework/Service References/AuthorPushService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.client" />
  <xs:element name="SetIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="SetInResult" nillable="true" type="q1:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallWhenHaveUnreadNotices">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/zwg_china.service.client" minOccurs="0" name="notices" nillable="true" type="q2:ArrayOfNoticeExport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallWhenLottery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/zwg_china.service.client" minOccurs="0" name="tickets" nillable="true" type="q3:ArrayOfLotteryTicketExport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallWhenLeave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>