zwg-china.client.framework/Service References/AuthorPushService/zwg_china.service.client.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/zwg_china.service.client" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/zwg_china.service.client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNoticeExport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NoticeExport" nillable="true" type="tns:NoticeExport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNoticeExport" nillable="true" type="tns:ArrayOfNoticeExport" />
  <xs:complexType name="NoticeExport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerId" type="xs:int" />
      <xs:element minOccurs="0" name="SourceId" type="xs:int" />
      <xs:element minOccurs="0" name="SourceType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoticeExport" nillable="true" type="tns:NoticeExport" />
  <xs:complexType name="ArrayOfLotteryTicketExport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LotteryTicketExport" nillable="true" type="tns:LotteryTicketExport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLotteryTicketExport" nillable="true" type="tns:ArrayOfLotteryTicketExport" />
  <xs:complexType name="LotteryTicketExport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Issue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LotteryValues" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextIssue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextLotteryTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LotteryTicketExport" nillable="true" type="tns:LotteryTicketExport" />
</xs:schema>