zwg-china.backstage.framework/Service References/ActicityService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" />
  <xs:element name="GetRewardForRegisterPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q1:GetRewardForRegisterPlansImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardForRegisterPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetRewardForRegisterPlansResult" nillable="true" type="q2:PageResultOfRewardForRegisterPlanExportnxyTI_PDx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardForRegisterRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q3:GetRewardForRegisterRecordsImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardForRegisterRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetRewardForRegisterRecordsResult" nillable="true" type="q4:PageResultOfRewardForRegisterRecordExportnxyTI_PDx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardForConsumptionPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q5:GetRewardForConsumptionPlansImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardForConsumptionPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetRewardForConsumptionPlansResult" nillable="true" type="q6:PageResultOfRewardForConsumptionPlanExportnxyTI_PDx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardForConsumptionRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q7:GetRewardForConsumptionRecordsImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardForConsumptionRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetRewardForConsumptionRecordsResult" nillable="true" type="q8:PageResultOfRewardForConsumptionRecordExportnxyTI_PDx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardForRechargePlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q9:GetRewardForRechargePlansImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardForRechargePlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetRewardForRechargePlansResult" nillable="true" type="q10:PageResultOfRewardForRechargePlanExportnxyTI_PDx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardForRechargeRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q11:GetRewardForRechargeRecordsImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRewardForRechargeRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetRewardForRechargeRecordsResult" nillable="true" type="q12:PageResultOfRewardForRechargeRecordExportnxyTI_PDx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedeemPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q13:GetRedeemPlansImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedeemPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetRedeemPlansResult" nillable="true" type="q14:PageResultOfRedeemPlanExportnxyTI_PDx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedeemRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q15:GetRedeemRecordsImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRedeemRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetRedeemRecordsResult" nillable="true" type="q16:PageResultOfRedeemRecordExportnxyTI_PDx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRewardForRegisterPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q17:CreateRewardForRegisterPlanImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRewardForRegisterPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="CreateRewardForRegisterPlanResult" nillable="true" type="q18:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRewardForRegisterPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q19:EditRewardForRegisterPlanImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRewardForRegisterPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="EditRewardForRegisterPlanResult" nillable="true" type="q20:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRewardForRegisterPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q21:RemoveRewardForRegisterPlanImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRewardForRegisterPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="RemoveRewardForRegisterPlanResult" nillable="true" type="q22:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRewardForConsumptionPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q23:CreateRewardForConsumptionPlanImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRewardForConsumptionPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="CreateRewardForConsumptionPlanResult" nillable="true" type="q24:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRewardForConsumptionPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q25:EditRewardForConsumptionPlanImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRewardForConsumptionPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="EditRewardForConsumptionPlanResult" nillable="true" type="q26:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRewardForConsumptionPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q27:RemoveRewardForConsumptionPlanImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRewardForConsumptionPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="RemoveRewardForConsumptionPlanResult" nillable="true" type="q28:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRewardForRechargePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q29:CreateRewardForRechargePlanImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRewardForRechargePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="CreateRewardForRechargePlanResult" nillable="true" type="q30:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRewardForRechargePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q31:EditRewardForRechargePlanImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRewardForRechargePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="EditRewardForRechargePlanResult" nillable="true" type="q32:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRewardForRechargePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q33:RemoveRewardForRechargePlanImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRewardForRechargePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="RemoveRewardForRechargePlanResult" nillable="true" type="q34:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRedeemPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q35:CreateRedeemPlanImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRedeemPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="CreateRedeemPlanResult" nillable="true" type="q36:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRedeemPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q37:EditRedeemPlanImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRedeemPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="EditRedeemPlanResult" nillable="true" type="q38:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRedeemPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q39:RemoveRedeemPlanImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveRedeemPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="RemoveRedeemPlanResult" nillable="true" type="q40:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>