zwg-china.backstage.framework/Service References/ActicityService/zwg_china.service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/zwg_china.service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" />
  <xs:complexType name="GetPageListImportBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ImportBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPageListImportBase" nillable="true" type="tns:GetPageListImportBase" />
  <xs:complexType name="ImportBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportBase" nillable="true" type="tns:ImportBase" />
  <xs:complexType name="PageResultOfRewardForRegisterPlanExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RewardForRegisterPlanExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountOfAllMessage" type="xs:int" />
          <xs:element minOccurs="0" name="CountOfPage" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="List" nillable="true" type="q1:ArrayOfRewardForRegisterPlanExport" />
          <xs:element minOccurs="0" name="PageInde" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageResultOfRewardForRegisterPlanExportnxyTI_PDx" nillable="true" type="tns:PageResultOfRewardForRegisterPlanExportnxyTI_PDx" />
  <xs:complexType name="NormalResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NormalResult" nillable="true" type="tns:NormalResult" />
  <xs:complexType name="PageResultOfRewardForRegisterRecordExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RewardForRegisterRecordExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountOfAllMessage" type="xs:int" />
          <xs:element minOccurs="0" name="CountOfPage" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="List" nillable="true" type="q2:ArrayOfRewardForRegisterRecordExport" />
          <xs:element minOccurs="0" name="PageInde" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageResultOfRewardForRegisterRecordExportnxyTI_PDx" nillable="true" type="tns:PageResultOfRewardForRegisterRecordExportnxyTI_PDx" />
  <xs:complexType name="PageResultOfRewardForConsumptionPlanExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RewardForConsumptionPlanExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountOfAllMessage" type="xs:int" />
          <xs:element minOccurs="0" name="CountOfPage" type="xs:int" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="List" nillable="true" type="q3:ArrayOfRewardForConsumptionPlanExport" />
          <xs:element minOccurs="0" name="PageInde" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageResultOfRewardForConsumptionPlanExportnxyTI_PDx" nillable="true" type="tns:PageResultOfRewardForConsumptionPlanExportnxyTI_PDx" />
  <xs:complexType name="PageResultOfRewardForConsumptionRecordExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RewardForConsumptionRecordExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountOfAllMessage" type="xs:int" />
          <xs:element minOccurs="0" name="CountOfPage" type="xs:int" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="List" nillable="true" type="q4:ArrayOfRewardForConsumptionRecordExport" />
          <xs:element minOccurs="0" name="PageInde" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageResultOfRewardForConsumptionRecordExportnxyTI_PDx" nillable="true" type="tns:PageResultOfRewardForConsumptionRecordExportnxyTI_PDx" />
  <xs:complexType name="PageResultOfRewardForRechargePlanExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RewardForRechargePlanExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountOfAllMessage" type="xs:int" />
          <xs:element minOccurs="0" name="CountOfPage" type="xs:int" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="List" nillable="true" type="q5:ArrayOfRewardForRechargePlanExport" />
          <xs:element minOccurs="0" name="PageInde" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageResultOfRewardForRechargePlanExportnxyTI_PDx" nillable="true" type="tns:PageResultOfRewardForRechargePlanExportnxyTI_PDx" />
  <xs:complexType name="PageResultOfRewardForRechargeRecordExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RewardForRechargeRecordExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountOfAllMessage" type="xs:int" />
          <xs:element minOccurs="0" name="CountOfPage" type="xs:int" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="List" nillable="true" type="q6:ArrayOfRewardForRechargeRecordExport" />
          <xs:element minOccurs="0" name="PageInde" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageResultOfRewardForRechargeRecordExportnxyTI_PDx" nillable="true" type="tns:PageResultOfRewardForRechargeRecordExportnxyTI_PDx" />
  <xs:complexType name="PageResultOfRedeemPlanExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RedeemPlanExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountOfAllMessage" type="xs:int" />
          <xs:element minOccurs="0" name="CountOfPage" type="xs:int" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="List" nillable="true" type="q7:ArrayOfRedeemPlanExport" />
          <xs:element minOccurs="0" name="PageInde" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageResultOfRedeemPlanExportnxyTI_PDx" nillable="true" type="tns:PageResultOfRedeemPlanExportnxyTI_PDx" />
  <xs:complexType name="PageResultOfRedeemRecordExportnxyTI_PDx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RedeemRecordExport" Namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NormalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="CountOfAllMessage" type="xs:int" />
          <xs:element minOccurs="0" name="CountOfPage" type="xs:int" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="List" nillable="true" type="q8:ArrayOfRedeemRecordExport" />
          <xs:element minOccurs="0" name="PageInde" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PageResultOfRedeemRecordExportnxyTI_PDx" nillable="true" type="tns:PageResultOfRedeemRecordExportnxyTI_PDx" />
</xs:schema>