zwg-china.backstage.framework/Service References/RecordOfAuthorService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" />
  <xs:element name="GetTransferRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q1:GetTransferRecordsImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetTransferRecordsResult" nillable="true" type="q2:PageResultOfTransferRecordExportnxyTI_PDx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRechargeRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q3:GetRechargeRecordsImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRechargeRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetRechargeRecordsResult" nillable="true" type="q4:PageResultOfRechargeRecordExportnxyTI_PDx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountOfUntreatedWithdrawalsRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q5:GetCountOfUntreatedWithdrawalsRecordsImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountOfUntreatedWithdrawalsRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetCountOfUntreatedWithdrawalsRecordsResult" nillable="true" type="q6:NormalResultOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithdrawalsRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q7:GetWithdrawalsRecordsImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithdrawalsRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetWithdrawalsRecordsResult" nillable="true" type="q8:PageResultOfWithdrawalsRecordExportnxyTI_PDx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoneyChangeRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q9:GetMoneyChangeRecordsImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoneyChangeRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetMoneyChangeRecordsResult" nillable="true" type="q10:PageResultOfMoneyChangeRecordExportnxyTI_PDx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRebateRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q11:GetRebateRecordsImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRebateRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetRebateRecordsResult" nillable="true" type="q12:PageResultOfRebateRecordExportnxyTI_PDx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommissionRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q13:GetCommissionRecordsImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommissionRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetCommissionRecordsResult" nillable="true" type="q14:PageResultOfCommissionRecordExportnxyTI_PDx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDividendRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q15:GetDividendRecordsImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDividendRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="GetDividendRecordsResult" nillable="true" type="q16:PageResultOfDividendRecordExportnxyTI_PDx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRechargeRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q17:CreateRechargeRecordImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRechargeRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="CreateRechargeRecordResult" nillable="true" type="q18:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWithdrawslsStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" minOccurs="0" name="import" nillable="true" type="q19:SetWithdrawslsStatusImport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWithdrawslsStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/zwg_china.service" minOccurs="0" name="SetWithdrawslsStatusResult" nillable="true" type="q20:NormalResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>