zwg-china.backstage.framework/Service References/AuthorService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAuthorService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service.backstage" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.service" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/zwg_china.model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthorService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetLandingRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLandingRecords" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetLandingRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLandingRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetBasicUserGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBasicUserGroups" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetBasicUserGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBasicUserGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroups" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_SetExtraQuotas_InputMessage">
    <wsdl:part name="parameters" element="tns:SetExtraQuotas" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_SetExtraQuotas_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetExtraQuotasResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_CreateUserGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserGroup" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_CreateUserGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_EditUserGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUserGroup" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_EditUserGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_RemoveUserGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserGroup" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_RemoveUserGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthorService">
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/GetUsers" message="tns:IAuthorService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/GetUsersResponse" message="tns:IAuthorService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLandingRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/GetLandingRecords" message="tns:IAuthorService_GetLandingRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/GetLandingRecordsResponse" message="tns:IAuthorService_GetLandingRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBasicUserGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/GetBasicUserGroups" message="tns:IAuthorService_GetBasicUserGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/GetBasicUserGroupsResponse" message="tns:IAuthorService_GetBasicUserGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/GetGroups" message="tns:IAuthorService_GetGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/GetGroupsResponse" message="tns:IAuthorService_GetGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/CreateUser" message="tns:IAuthorService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/CreateUserResponse" message="tns:IAuthorService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/EditUser" message="tns:IAuthorService_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/EditUserResponse" message="tns:IAuthorService_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetExtraQuotas">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/SetExtraQuotas" message="tns:IAuthorService_SetExtraQuotas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/SetExtraQuotasResponse" message="tns:IAuthorService_SetExtraQuotas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/RemoveUser" message="tns:IAuthorService_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/RemoveUserResponse" message="tns:IAuthorService_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/CreateUserGroup" message="tns:IAuthorService_CreateUserGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/CreateUserGroupResponse" message="tns:IAuthorService_CreateUserGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUserGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/EditUserGroup" message="tns:IAuthorService_EditUserGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/EditUserGroupResponse" message="tns:IAuthorService_EditUserGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/RemoveUserGroup" message="tns:IAuthorService_RemoveUserGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/RemoveUserGroupResponse" message="tns:IAuthorService_RemoveUserGroup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAuthorService" type="tns:IAuthorService">
    <wsp:PolicyReference URI="#NetTcpBinding_IAuthorService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://tempuri.org/IAuthorService/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLandingRecords">
      <soap12:operation soapAction="http://tempuri.org/IAuthorService/GetLandingRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBasicUserGroups">
      <soap12:operation soapAction="http://tempuri.org/IAuthorService/GetBasicUserGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap12:operation soapAction="http://tempuri.org/IAuthorService/GetGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://tempuri.org/IAuthorService/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap12:operation soapAction="http://tempuri.org/IAuthorService/EditUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExtraQuotas">
      <soap12:operation soapAction="http://tempuri.org/IAuthorService/SetExtraQuotas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap12:operation soapAction="http://tempuri.org/IAuthorService/RemoveUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserGroup">
      <soap12:operation soapAction="http://tempuri.org/IAuthorService/CreateUserGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUserGroup">
      <soap12:operation soapAction="http://tempuri.org/IAuthorService/EditUserGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserGroup">
      <soap12:operation soapAction="http://tempuri.org/IAuthorService/RemoveUserGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthorService">
    <wsdl:port name="NetTcpBinding_IAuthorService" binding="tns:NetTcpBinding_IAuthorService">
      <soap12:address location="net.tcp://192.168.1.130:4512/AuthorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.130:4512/AuthorService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>